@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/700.css";

@import "./variables.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: $secondary-color;
}
.container{
    width: 80%;
    margin: auto;
}
img{
    max-width: 100%;
}